---
import Logo from "./Logo.astro";
import Icon from "../components/Icon.astro";
import { SITE_TITLE } from "../config";
import navLinks from "../data/nav-links.json";
import socialLinks from "../data/social-links.json";

const currentPath = Astro.url.pathname;
---

<a
  class="sr-only top-2 z-50 rounded-lg bg-page font-exteded text-lg focus:not-sr-only focus:absolute focus:ml-2 focus:px-2 focus:py-1 focus:outline-offset-0"
  href="#maincontent">Skip Navigation</a
>

<header
  class="fixed z-40 w-full lg:flex lg:h-dvh lg:w-[--nav-max-width] lg:flex-col lg:border-b-0 lg:border-r-2 lg:border-border"
  x-data="{ isOpen: false }"
  @keydown.escape="isOpen = false">
  <!-- Logo -->
  <div
    class="relative z-10 flex min-h-[--nav-item-height] items-center justify-between divide-x-2 divide-border border-y-2 border-border bg-page pl-4 lg:min-h-24 lg:border-t-0 lg:px-5">
    <a
      class="transition-colors duration-500 hover:text-primary focus:text-primary"
      href="/">
      <Logo class="w-full max-w-28 lg:max-w-40" />
      <h1 class="sr-only">{SITE_TITLE}</h1>
    </a>
    <button
      x-on:click="isOpen = ! isOpen"
      class="self-stretch px-4 font-exteded text-base leading-none transition-colors focus:-outline-offset-8 focus-visible:text-body lg:hidden [@media(any-hover:hover)]:hover:bg-page-offset [@media(any-hover:hover)]:hover:text-body"
      :class="isOpen ? 'text-base bg-page-offset' : ' text-muted'"
      :aria-expanded="isOpen"
      aria-controls="nav-menu">Menu</button
    >
  </div>

  <div
    id="nav-menu"
    class="max-h-[calc(100dvh-var(--nav-item-height))] flex-col overflow-y-auto overscroll-contain bg-page transition-[transform,clip-path] duration-300 ease-in-out motion-reduce:transition-none lg:!flex lg:flex-1 lg:transition-none"
    @click.away="isOpen = false"
    x-show="isOpen"
    x-transition:enter-start="[clip-path:polygon(0%_0,_100%_0%,_100%_0%,_0_0%)] -translate-y-6"
    x-transition:enter-end="[clip-path:polygon(0%_0,_100%_0%,_100%_100%,_0_100%)] translate-y-0"
    x-transition:leave-start="[clip-path:polygon(0%_0,_100%_0%,_100%_100%,_0_100%)] translate-y-0"
    x-transition:leave-end="[clip-path:polygon(0%_0,_100%_0%,_100%_0%,_0_0%)] -translate-y-6">
    <!-- Nav -->
    <nav
      class="flex flex-col divide-y-2 divide-border border-b-2 border-border font-exteded text-lg">
      {
        navLinks.map(({ name, url, icon }) => (
          <a
            href={url}
            class:list={[
              "group flex min-h-[--nav-item-height] items-center gap-2.5 px-5 py-4 leading-none text-muted/85 transition-colors hover:bg-page-offset hover:text-body focus:text-body focus:-outline-offset-8",
              { "active !text-body": currentPath === url },
            ]}>
            <Icon
              icon={icon}
              class:list={[
                "stroke-muted/85 text-[1.375rem] transition-colors group-hover:stroke-primary-dark group-focus:stroke-primary-dark",
                { "stroke-primary-dark": currentPath === url },
              ]}
            />
            {name}
          </a>
        ))
      }
    </nav>

    <!-- Social Links -->
    <footer class="mt-auto">
      <h2 class="sr-only">Social Media</h2>
      <ul
        class="-mt-0.5 flex min-h-[--nav-item-height] items-center gap-2.5 border-y-2 border-border bg-page-offset px-5 text-[1.5rem] lg:justify-between">
        <li class="order-last hidden sm:block lg:hidden">
          <h3
            class="font-mono text-base leading-tight tracking-tighter text-muted">
            <span class="mr-3 text-muted opacity-50">&mdash;</span>Follow Us
          </h3>
        </li>
        {
          socialLinks.map(({ name, url, icon }) => (
            <li>
              <a
                class="px-1 text-muted transition-colors hover:text-primary-dark focus:text-primary-dark"
                href={url}>
                <span class="sr-only">{name}</span>
                <Icon icon={icon} />
              </a>
            </li>
          ))
        }
      </ul>
    </footer>
  </div>
</header>
